.u-section-1 .u-sheet-1 {
  min-height: 1668px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-35 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-46 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-56 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-57 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-67 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-68 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-78 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-79 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-89 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-90 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-1 .u-table-cell-100 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-101 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

.u-block-1ed4-35 {
  background-image: none;
}

.u-section-1 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  --radius: 2px;
  background-image: none;
  margin: 198px auto 60px;
  padding: 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-9 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    margin-top: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    margin-top: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-top: 206px;
  }
}